{% extends "base.html" %}


{% block content %}

    {% include "portfolio/sections/work.html" %}
    {% include "portfolio/sections/about.html" %}
    {% include "portfolio/sections/contact.html" %}

{% endblock %}

{% block js_footer %}
    <script>
        $(document).ready(function() {

            // Smooth scrolling for internal links
        	$(".nav-main a").click(function() {
        		$("html, body").animate({
        			scrollTop: $($(this).attr("href")).offset().top + "px"
        		}, {
        			duration: 500,
        			easing: "swing"
        		});
        		return false;
        	});

        });
    </script>
{% endblock %}