{% extends "base.html" %}


{% block content %}

    {% include "portfolio/sections/work.html" %}
    {% include "portfolio/sections/about.html" %}
    {% include "portfolio/sections/connect.html" %}

{% endblock %}

{% block post_container %}
    <footer>
        <div class="container">
            <p>2012 & love & design: jessilyn & code: <a href="http://blanchardjeremy.com">jeremy</a> & code: github</p>
        </div>
    </footer>
    {{ super() }}
{% endblock %}

{% block js_footer %}
    {{ super() }}
    <script>
        $(document).ready(function() {

            // Smooth scrolling for internal links
        	$(".nav-main a").click(function() {
        		$("html, body").animate({
        			scrollTop: $($(this).attr("href")).offset().top  + "px"
        		}, {
        			duration: 500,
        			easing: "swing"
        		});
        		return false;
        	});


            // Fancybox for photos
            $("a.work-piece").fancybox({
                'transitionIn': 'elastic',
                'transitionOut': 'elastic',
                'width': '80%',
                'height': '80%',
//                'easingIn': 'easeOutBack',
//                'easingOut': 'easeInBack',
                'titleShow': true,
                'titlePosition': 'inside',
                'overlayColor': '#333',
                'overlayOpacity': '0.7',
                'cyclic': true,
                'hideOnContentClick': true
            });

            // Submit contact form with ajax
            $("#contactForm").submit(function(event) {
                var form$ = $(this);
                console.log(form$);
                console.log(form$.serialize());
                console.log(form$.attr('action'));

                var jqxhr = $.post(form$.attr('action'), form$.serialize());

                jqxhr
                .success(function() {
                    console.log("success");
                })
                .error(function() {
                    console.log("error");
                    console.log($.ajaxError());
                })
                .complete(function() {
                    console.log("complete");
                });
                form$.slideUp();
                $("#successMessage").slideDown();
                console.log('after async init');
                return false;
            });
        });
    </script>
{% endblock %}