{% extends "base.html" %}


{% block content %}
    <h2 id="work">Work</h2>
    {{ lipsum(10) }}
    <h2 id="about">About Me</h2>
    {{ lipsum(10) }}
    <h2 id="contact">Contact</h2>
    {{ lipsum(10) }}
{% endblock %}

{% block js_footer %}
    <script>
        $(document).ready(function() {

            // Smooth scrolling for internal links
        	$(".nav-main a").click(function() {
        		$("html, body").animate({
        			scrollTop: $($(this).attr("href")).offset().top + "px"
        		}, {
        			duration: 500,
        			easing: "swing"
        		});
        		return false;
        	});

        });
    </script>
{% endblock %}