Django==1.4
Jinja2==2.6
South==0.7.3
distribute==0.6.15
jingo==0.4
psycopg2==2.4.1
wsgiref==0.1.2
oauth==1.0.1
gunicorn==0.14.2
#svn+http://python-flickr-api.googlecode.com/svn/trunk/#egg=flickr_api
git+https://github.com/auzigog/python-flickr-api.git@a355563386de0ca8dd497f88bc1376dfd7439c9a#egg=flickr_api
git+https://github.com/auzigog/jinja-bootstrap.git#egg=bootstrap
git+https://github.com/qnub/Jinja2-Markdown.git


