{% extends "bootstrap/layouts/base.html" %}

{% block title %}Jessilyn Brinkerhoff | Artist & Graphic Designer{% endblock %}

{% block css_bootstrap_responsive %}{% endblock %}

{% block css_site %}
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet">
{% endblock %}

{% block meta %}
    {{ super() }}
    <link rel="icon"href="{{ STATIC_URL }}img/favicon.png">
{% endblock %}


{% block pre_container %}
    <header class="header">
        {% block header %}
            <div class="container">
                <div class="row out-of-flow">
                    <div class="span8 offset4">
                        <div class="quote">
                            BEHAVIORAL CUT UP: carry around all of the waste you generate for one day<br>
                            This means food, trash, any scraps that would enter the wastestream.
                        </div>
                    </div>
                </div>
                {% block header_inner %}
                    <h1 class="logo hide-text">Jessilyn Brinkerhoff</h1>
                {% endblock %}
            </div>
        {% endblock %}
    </header>

    <nav class="nav-main">
        <div class="container">
            <div class="row">
                <div class="span4 offset8">
                    <ul class="unstyled">
                        {% if request.META['PATH_INFO'] == url('home') %}
                            {% set inner = url('inner') %}
                        {% endif %}
                        <li>
                            <a href="{{ inner }}#work" class="has-subnav">Work</a>
                            <ul class="unstyled nav-work">
                                <li><a href="{{ inner }}#art">Art</a></li>
                                <li><a href="{{ inner }}#design">Design</a></li>
                                <li><a href="{{ inner }}#objects">Objects</a></li>
                                <li><a href="{{ inner }}#sketchbook">Sketchbook</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ inner }}#about">About</a></li>
                        <li><a href="{{ inner }}#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}


{% block container %}
    <div class="row">
        <div class="span8">
            {{ super() }}
        </div>
    </div>
{% endblock %}

{% block post_container %}
<footer class="footer">

</footer>
{% endblock %}