{% extends "bootstrap/layouts/base.html" %}

{% block title %}Jessilyn Brinkerhoff | Artist & Graphic Designer{% endblock %}

{% block css_bootstrap_responsive %}{% endblock %}

{% block css_site %}
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
    <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet">
{% endblock %}

{% block meta %}
    {{ super() }}
    <link rel="icon"href="{{ STATIC_URL }}img/favicon.png">
{% endblock %}


{% block pre_container %}
    <header class="header">
        {% block header %}
            <div class="container">
                <div class="row out-of-flow">
                    <div class="span8 offset4">
                        <div class="quote">
{% markdown %}
{{ quote }}
{% endmarkdown %}
                        </div>
                    </div>
                </div>
                {% block header_inner %}
                    <h1 class="logo hide-text clearfix">Jessilyn Brinkerhoff</h1>
                {% endblock %}

                <div class="nav-main">

                    <ul class="unstyled clearfix">
                        {% if is_home %}
                            {% set inner = url('inner') %}
                        {% endif %}
                        <li>
                            <a href="{{ inner }}#work" class="has-subnav">Work</a>
                            <ul class="unstyled nav-work">
                                <li><a href="{{ inner }}#art">Art</a></li>
                                <li><a href="{{ inner }}#design">Design</a></li>
                                <li><a href="{{ inner }}#objects">Objects</a></li>
                                <li><a href="{{ inner }}#sketchbook">Sketchbook</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ inner }}#about">About</a></li>
                        <li><a href="{{ inner }}#connect">Connect</a></li>
                    </ul>
                </div>
{#                <div style="width: 200px; height: 200px;">&nbsp;</div>#}
{#                <div class="nav-main clearfix">#}
{#                    <ul class="unstyled clearfix">#}
{#                        {% if is_home %}#}
                            {# This hack is needed to make the links work from the home page, but allow scrollspy to work on the inner page #}
{#                            {% set inner = url('inner') %}#}
{#                        {% endif %}#}
{#                        <li>#}
{#                            <a href="{{ inner }}#work" class="has-subnav">Work</a>#}
{#                            <ul class="unstyled nav-work">#}
{#                                <li><a href="{{ inner }}#art">Art</a></li>#}
{#                                <li><a href="{{ inner }}#design">Design</a></li>#}
{#                                <li><a href="{{ inner }}#objects">Objects</a></li>#}
{#                                <li><a href="{{ inner }}#sketchbook">Sketchbook</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li><a href="{{ inner }}#about">About</a></li>#}
{#                        <li><a href="{{ inner }}#connect">Connect</a></li>#}
{#                    </ul>#}
{#                </div>#}

            </div>
        {% endblock %}
    </header>

{% endblock %}


{% block container %}
    <div class="row">
        <div class="span7">
            {{ super() }}
        </div>
    </div>
{% endblock %}

{% block post_container %}
    <footer class="footer">

    </footer>
{% endblock %}

{% block js_footer %}
    {{ super() }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.easing-1.3.pack.js"></script>
{% endblock %}