
<section id="about" class="main">

    <h2 class="about">About</h2>

    <div class="row">
        <div class="span3">
            <section class="bio">
                <h2 class="about">Me</h2>
{% markdown %}
Creative acts propel me through each day. During my days at
university, I inhabited creative studios, classrooms and offices. I learned and earned. After many epiphanies, conversations and
inspiration from incredible people, I now inhabit new spaces. I find myself in gardens, in kitchens and in communities.

I am an Oregonian looking to bring my creative skills into the realm of solutions. I enjoy collaborating with non-profits,
organizers and those working for change.
{% endmarkdown %}
            </section>
            <section class="know">
                <h2>What I Know</h2>
{% markdown %}
Design (see <a href="#">resum&eacute;</a>)<br>
Art<br>
Community Organizing<br>
Gardening<br>
{% endmarkdown %}
            </section>
            <section class="love">
                <h2>What I Love</h2>
{% markdown %}
Humans<br>
Plants<br>
Visual Communication<br>
CrimethInc<br>
Beehive Collective<br>
Food<br>
Creation<br>
Questions<br>
{% endmarkdown %}
            </section>
        </div>
        <div class="span4">
            <figure class="photo">
                <img src="http://placehold.it/250x250/" class="thumbnail">
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="span7">
            <section class="life">
                <h2>What do you live for?</h2>
                <p>Tell me at <a href="mailto:oregonjessilyn@gmail.com">oregonjessilyn@gmail.com</a></p>
            </section>
        </div>
    </div>


</section>