
<section id="about" class="main">

    <h2 class="about">About</h2>

    <div class="row">
        <div class="span3">
            <section class="bio">
                <h3 class="about">Me</h3>
{% markdown %}
{{ snippets['bio'].text|safe }}
{% endmarkdown %}
            </section>
            <section class="know">
                <h3>What I Know</h3>
{% markdown %}
{{ snippets['know'].text|safe }}
{% endmarkdown %}
            </section>
            <section class="love">
                <h3>What I Love</h3>
{% markdown %}
{{ snippets['love'].text|safe }}
{% endmarkdown %}
            </section>
        </div>
        <div class="span4">
            <figure class="photo">
                <img src="http://placehold.it/250x250/" class="thumbnail">
            </figure>
        </div>
    </div>

    <div class="row">
        <div class="span7">
            <section class="life">
                <h3>What do you live for?</h3>
{% markdown %}
{{ snippets['tell'].text|safe }}
{% endmarkdown %}
            </section>
        </div>
    </div>


</section>