

<section id="connect" class="main">
    <h2>Connect</h2>

    <div class="row">
        <div class="span7">
            <section class="life">
                <h3>What do you live for?</h3>
{% markdown %}
{{ snippets['tell'].text|safe }}
{% endmarkdown %}
            <div class="contact-form">
                <form method="post" action="https://docs.google.com/spreadsheet/formResponse?formkey=dFY2b0pUV3F3ZWFtaFdqN056SWVLRUE6MQ&amp;embedded=true&amp;ifq">
                    <input type="text" name="entry.0.single" id="entry_0">
                    <input type="text" name="entry.1.single" id="entry_1">
                    <textarea name="entry.2.single" rows="8" cols="75" class="ss-q-long" id="entry_2"></textarea>
                    <button>Connect!</button>
                </form>
            </div>
            </section>
        </div>
    </div>
</section>