
/* ========================== STRUCTURE ======== */

html {
   min-height: 100%;
}


.header {
    background: url("../img/header-bg-inner.jpg") center top repeat-x;
    height: 107px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1030;
    margin-bottom: 0;
}
.header .container {
    height: 107px;
}
.container-primary section.main {
    /*For the nav jumping to work */
    /*padding-top: 107px; */
}
body {
    padding-top: 107px;
}

#home .header {
    background: url("../img/header-bg-home.jpg") center top repeat-x;
    height: 293px;
}
#home .header .container {
    height: 293px;
}
body#home {
    padding-top: 293px;
}

footer {
    background-color: #cccccc;
    padding: 10px 0 40px 0;
    margin-top: 40px;
    box-shadow: inset 0 4px 4px -2px #aaa;
    -moz-box-shadow: inset 0 4px 4px -2px #aaa;
    -webkit-box-shadow: inset 0 4px 4px -2px #aaa;
}
footer p {
    font-size: 11px;
    color: #222;
}
footer a,
footer a:hover,
footer a:active,
footer a:visited {
    color: #222;
    text-decoration: underline;
}

.fixed-footer {
    background: url("../img/footer.png") center bottom repeat-x;
    height: 31px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin-bottom: 0;
}


/* ========================== CROSS-SITE ======== */

body, p {
    font-family: Tahoma, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
figure {
    margin: 0 0 15px 0;
}

section {
    margin-top: 40px;
}
section section {
    margin-top: 20px;
}

/* Need a way to fix the direct link anchor marin top issue */
.container-primary h2,
.container-primary h3 {
    padding-top: 107px;
    margin-top: -107px;
}

.quote p {
    color: white;
    font-size: 13px;
    line-height: 12px;
    height: 32px;
    text-align: right;
    /*overflow: hidden;*/
}
.out-of-flow {
    position: absolute;
}

.sidebar a:hover {
    text-decoration: none;
}

h1.logo {
    background: url("../img/jessilyn-brinkerhoff-logo.png") right center no-repeat;
    height: 140px;
    position: relative;
    right: 0;
    top: 48px;
    width: 300px;
}
#home h1.logo {
    top: 234px;
}

.sidebar {
    float: right;
    width: 300px;
}

.nav-main {
    margin-top: 70px;
    float: right;
    width: 242px;
    height: 400px;
}
#home .nav-main {
    margin-top: 100px;
}

.nav-main ul.nav {
}

.nav-main ul.nav li {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.nav-main ul.nav > li {
    clear: both;
}

.nav-main ul.nav li a {
    color: #6c491a;
    font-size: 24px;
    line-height: 36px;
    display: inline;
}
.nav-main ul.nav li a:visited,
.nav-main ul.nav li a:active {
    /*text-decoration: none;*/
}
.nav-main ul.nav li a:hover,
.nav-main ul.nav ul.nav-work li a:hover {
    background-color: transparent;
    text-decoration: none;
    /*color: #2a782a;*/
    color: #9e6a26;
}
.nav-main ul.nav li.active a,
.nav-main ul.nav ul.nav-work li.active a {
    color: #0088cc;
}
.nav-main ul.nav li a.has-subnav {
    float: left; /* Needed because subnav floats right */
    clear: both;
}

.nav-main ul.nav ul.nav-work {
    float: right;
    height: 25px;
}
.nav-main ul.nav ul.nav-work li {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
}
.nav-main ul.nav ul.nav-work li a {
    color: #444;
    font-size: 14px;
}


/* ========================== HOME ======== */
h2.welcome {
    color: white;
    font-weight: 400;
    float: right;
    margin-right: 220px;
    margin-top: 124px;
    width: 400px;
}

#home .tags {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    margin-right: 20px;
    margin-top: 17px;
}


/* ========================== INNER ======== */


.about {
    color: #755d14;
}

.know h3 {
    color: #a49638;
}
.love h3 {
    color: #444;
}
.life h3 {
    color: #82550e;
}


/* ========================== WORK ======== */

#work h3 {
    width: 300px;
    margin-left: -310px;
    margin-right: 10px;
    text-align: right;
}

#work .piece img {
    margin: 20px 0 5px 0;
}

/* ========================== CONNECT ======== */

#successMessage {
    display: none;
}