
/* ========================== STRUCTURE ======== */

html {
   min-height: 100%;
}

body {
    background: url("../img/footer.png") center bottom repeat-x;
}


.header {
    background: url("../img/header-bg-inner.jpg") center top repeat-x;
    height: 99px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1030;
    margin-bottom: 0;
}

#home .header .container {
    height: 293px;
}
body {
    margin-top: 99px;
}

#home .header {
    background: url("../img/header-bg-home.jpg") center top repeat-x;
    height: 293px;
}
#home .header .container {
    height: 293px;
}

body#home {
    margin-top: 293px;
}

.footer {
    background: url("../img/footer.png") center bottom repeat-x;
    height: 31px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1030;
    margin-bottom: 0;
}


/* ========================== CROSS-SITE ======== */
h1.logo {
    background: url("../img/jessilyn-brinkerhoff-logo.png") right center no-repeat;
    /*width: 258px;*/
    height: 140px;
    position: relative;
    right: 0;
    top: 51px;
}
#home h1.logo {
    top: 233px;
}

/* ========================== HOME ======== */


/* ========================== INNER ======== */